name: ci
on:
  push:
    branches:
      - master
      - next
    tags:
      - v*
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@v1.1.5

      - name: Lint
        run: npm run lint

  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@v1.1.5

      - name: Test
        run: npm run test:unit

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@v1.1.5

      - name: Build
        run: npm run build

      - name: Upload build files
        uses: actions/upload-artifact@v5.0.0
        with:
          name: build-artifacts
          retention-days: 1
          path: dist*/

  test-package-rollup:
    name: 'rollup v${{ matrix.rollup }} / node ${{ matrix.node }} / ${{ matrix.os }}'
    needs:
      - build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ['24', '22', '20', '18']
        os: [ubuntu-latest, windows-latest]
        rollup: ['3', '4']
        exclude:
          - os: windows-latest
            node: 22
          - os: windows-latest
            node: 20
          - os: windows-latest
            node: 18
          - rollup: 3
            node: 20
          - rollup: 3
            node: 18

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@v1.1.5
        with:
          version: ${{ matrix.node }}
          cache: never
          install: false

      - name: Install vitest
        run: npm install vitest

      - name: Download build files
        uses: actions/download-artifact@v7.0.0
        with:
          name: build-artifacts

      - name: Setup local npm registry
        run: ./scripts/setup-registry.sh

      - name: Install test package dependencies
        run: |
          npm install
          npm install rollup@${{ matrix.rollup }} --force
          npx rollup -v
        working-directory: test/package/rollup

      - name: Test package
        run: npm run test
        working-directory: test/package/rollup

  test-package-vite:
    name: 'vite v${{ matrix.vite }} / node ${{ matrix.node }} / ${{ matrix.os }}'
    needs:
      - build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: ['22', '20', '18']
        os: [ubuntu-latest, windows-latest]
        vite: ['5', '6', '7']
        exclude:
          - os: windows-latest
            node: 20
          - os: windows-latest
            node: 18
          - vite: 7
            node: 18
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@v1.1.5
        with:
          version: ${{ matrix.node }}
          cache: never
          install: false

      - name: Install vitest
        run: npm install vitest

      - name: Download build files
        uses: actions/download-artifact@v7.0.0
        with:
          name: build-artifacts

      - name: Setup local npm registry
        run: ./scripts/setup-registry.sh

      - name: Install test package dependencies
        run: |
          npm install
          npm install vite@${{ matrix.vite }} --force
          npx vite -v
        working-directory: test/package/vite

      - name: Test package
        run: npm run test
        working-directory: test/package/vite

  tests:
    needs:
      - lint
      - test-unit
      - test-package-rollup
      - test-package-vite
    runs-on: ubuntu-latest
    steps:
      - run: exit 0

  publish:
    # Run only for version tags
    if: contains(github.ref, 'refs/tags/v')
    needs:
      - tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@v1.1.5

      - name: Download build
        uses: actions/download-artifact@v7.0.0
        with:
          name: build-artifacts

      - run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
